<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.thanel.gitlog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GitLogApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.repositorylist.RepositoryListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.repository.RepositoryActivity" />
        <activity android:name=".ui.commit.CommitActivity" />
        <activity
            android:name=".ui.repositorylist.add.AddRepositoryActivity"
            android:excludeFromRecents="true"
            android:label="@string/clone_repository"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth" />
        <activity android:name=".ui.diff.DiffViewerActivity" />
        <activity android:name=".ui.repository.file.GitFileViewerActivity" />
        <activity android:name=".ui.repository.filelist.GitFileListActivity" />
        <activity android:name=".ui.ssh.SshKeyManagementActivity" />
        <activity android:name=".ui.explorer.FileViewerActivity" />
        <activity android:name=".ui.filepicker.FilePickerActivity" />
    </application>

</manifest>
